body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b3b3b3;
}

.body__container {
  background-color: #b3b3b3;
}

.navigation {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  font-weight: 100;
  font-size: 14px;
  margin: 8px 0px;
  padding: 16px 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.header__logo img {
  cursor: pointer;
  text-align: left;
  max-width: 100%;
  height: 150px;
  width: 150px;
}

.header__title {
  text-align: center;
  margin: 20px 0;
}

.header__title h1 {
  font-size: 24px;
  color: #fff;
}

.header__img {
  margin: 50px;
  text-align: center;
}

.header__content {
  padding: 20px;
  background-color: #fff;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
